<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row navbar">
            <div class="col-md-9">
                <table>
                    <tr>
                        <td><img src="../../assets/logo/logo.jpg" class="logo"></td>
                        <td><a routerLink="/home"><span class="rutiranje">Home</span></a></td>
                        <td><a routerLink="/events"><span class="rutiranje">Events</span></a></td>
                        <td><a routerLink="/animals"><span class="rutiranje">Animals</span></a></td>
                        <td><a routerLink="/contact"><span class="rutiranje">Contact</span></a></td>
                    </tr>
                </table>
                
            </div>
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-2">
                <table>
                    <tr>
                        <td>👤</td>
                        <td>{{korisnik.username}}</td>
                        <td>🔔</td>
                        <td>
                            <input type="button" class="rounded" value="Logout" (click)="odjaviSe()">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row pozadina">
            <div class="row">
                <h2 class="naslov3">Still working on this page!</h2>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer_contents"> <b> &#169; </b> Copyright - Zoo Pandica</div>
    </div>
</body>
</html>