<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row navbar">
            <div class="col-md-9">
                <table>
                    <tr>
                        <td><img src="../../assets/logo/logo.jpg" class="logo"></td>
                        <td><a routerLink="/home" (click)="home()"><span class="rutiranje">Home</span></a></td>
                        <td><a routerLink="/events" (click)="events()"><span class="rutiranje">Events</span></a></td>
                        <td><a routerLink="animals" (click)="animal()"><span class="rutiranje">Animals</span></a></td>
                        <td><a routerLink="/contact" (click)="contact()"><span class="rutiranje">Contact</span></a></td>
                    </tr>
                </table>
                
            </div>
            <div class="col-md-1">&nbsp;</div>
            <div class="col-md-2">
                <table>
                    <tr>
                        <td>👤</td>
                        <td>{{korisnik.username}}</td>
                        <td>🔔</td>
                        <td>
                            <input type="button" class="rounded" value="Logout" (click)="odjaviSe()">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row pozadina">
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let new of news">
                  <div class="slide">
                    <div class="container-fluid">
                        <br>
                        <div class="row">
                            <div class="col-md-1">
                                &nbsp;
                            </div>
                            <div class="col-md-1">
                                <span *ngIf="likeFlag == false" class="srce" (click)="lajkuj(new.title)">&#9825;</span>
                                <span *ngIf="likeFlag == true" class="srce" (click)="lajkuj(new.title)">&#10084;</span>
                                
                                <span class="brojLajkova">{{new.numberOfLike}}</span>
                            </div>
                            <div class="col-md-3">
                                <img src=".\assets\news\{{new.image}}" width="30px" height="200px" class="rounded">
                            </div>
                            <div class="col-md-6 tekst">
                                <div class="row naslov">
                                    <h2>{{new.title}}</h2>
                                </div>
                                <div class="row opis">
                                    {{new.description}}
                                </div>
                            </div>
                            <div class="col-md-1">
                                &nbsp;
                            </div>
                        </div>
                    </div>
                  </div>
                </ng-template>              
              </owl-carousel-o>
        </div>
        <div class="row okvir">
            <div class="col-md-5 okvir3">
                <div class="row">
                    <div class="col-md-12" class="pozadina2">
                        <div class="row">
                            <h2 class="naslov2">Regular offer</h2>
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="./assets/tickets/singleTicket.jpg" class="slikaKarte">
                                </div>
                                <div class="col-md-3 kartaMargine">
                                    <span class="karta">Single ticket</span>
                                    <span class="karta"><b>1.99$</b></span>
                                    <button class="dugmeKupi rounded">👜BUY</button>
                                </div>
                            </div>
                            <div class="row">&nbsp;</div>
                            <div class="row">
                                <div class="col-md-5">
                                    <img src="./assets/tickets/groupTicket2.jpg" class="slikaKarte">
                                </div>
                                <div class="col-md-3 kartaMargine">
                                    <span class="karta">Group tickets</span>
                                    <span class="karta"><b>9.50$</b></span>
                                    <button class="dugmeKupi rounded">👜BUY</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>          
            </div>
            <div class="col-md-6 pozadina3">
                <div class="row pozadina2 okvir4">
                    <div class="row">
                        <div>
                            <h2 class="naslov3">Special offer</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="./assets/tickets/ticket1.jpg" class="slikaKarte2">
                        </div>
                        <div class="col-md-4">
                            <img src="./assets/tickets/ticket2.jpg" class="slikaKarte2">
                        </div>
                        <div class="col-md-4">
                            <img src="./assets/tickets/ticket3.jpg" class="slikaKarte2">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <span class="kartaOpis">2 adults + 4 children</span>
                            <span class="kartaCena">7.99$</span>
                            <button class="dugmeKupi2 rounded">👜BUY</button>
                        </div>
                        <div class="col-md-4">
                            <span class="kartaOpis">2 for the price of 1</span>
                            <span class="kartaCena">2.99$</span>
                            <button class="dugmeKupi2 rounded">👜BUY</button>
                        </div>
                        <div class="col-md-4">
                            <span class="kartaOpis2">ticket + gift bag</span>
                            <span class="kartaCena">1.99$</span>
                            <button class="dugmeKupi2 rounded">👜BUY</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer">
        <div class="footer_contents"> <b> &#169; </b> Copyright - Zoo Pandica</div>
    </div>
</body>
</html>